# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except main bootwrap modules

!bootwrap/
!bootwrap/**/
!bootwrap/**/*.py

# Except test bootwrap modules

!config/
!config/**/
!config/**/*.yaml

!docs/
!docs/**/
!docs/**/*.*

!test/
!test/**/
!test/**/*.py

!helper.sh
!LICENSE
!main.py
!docgen.py
!README.md
!requirements.txt
!pytest.ini