# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except main bootwrap modules

!bootwrap/
!bootwrap/**/
!bootwrap/**/*.py
!bootwrap/**/*.js
!bootwrap/**/*.css

# Except test bootwrap modules

!docs/
!docs/**/
!docs/**/*.yaml
!docs/**/*.py
!docs/**/*.png
!docs/**/*.ico
!docs/**/*.html

!demo/
!demo/**/
!demo/**/*.py
!demo/**/*.png
!demo/**/*.jpg
!demo/**/*.ico
!demo/**/*.md

!tests/
!tests/**/
!tests/**/*.py

!helper.sh
!LICENSE
!main.py
!setup.py
!README.md
!CONTRIBUTING.md
!requirements.txt
!pytest.ini